$color-primary: navy;
$color-secondary: skyblue;
$color-on-primary: hotpink;
$color-on-secondary: green;
$color-success: #3F6;
$color-error: #C03;
$color-link: yellow;
$color-link-hover: rgb(103, 139, 4);
$color-link-visited: rgb(235, 26, 11);

$breakpoints-tablet: 425px;
$breakpoints-desktop: 768px;

// ecran de base: 6; table 2; mart: 2

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: $color-primary;
    font-size: 3rem;
}

h2 {
    color: $color-secondary;
    font-size: 2rem;

    + p{
        font-style: oblique;
    }

    &:not(:first-of-type) {
        color: palevioletred;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}



.btn{
    padding: 0.5ch;
    border: none;
    border-radius: 0.5em;
    background-color: $color-primary;
    color: $color-on-primary;
    margin: 0.1rem;

    &:hover {
        background-color: $color-on-secondary;
        transform: scale(1.1);
    }

&- {
    
    &success {
        background-color: $color-success;
    }
    &error {
        background-color: $color-error;
    }
}
}

a {
    text-decoration: none;
    color: $color-link;

    &:visited {
        color: $color-link-visited;
    }
    
    &:hover, &focus {
        color: $color-link-hover;
    }

    &:active {
        font-weight: bold;
    }
}

// mobile: moins 425px(1elem par ligne); tablet: 426 &768px(2 elems) desktop 760 (6elems)
/*yo*/
#elems {
    //var locale//
    $gap-elem: 0.5ch;
    --col: 1;

    display: grid;
    grid-template-columns: repeat(var(--col), 1fr);
    gap: $gap-elem;

    @media screen and (min-width: $breakpoints-tablet) {       
        --col: 2;
    }
    @media screen and (min-width: $breakpoints-desktop) {       
        --col: 5;
    }

    .elem {
        background-color: #CA907E;
    }

    }

#extend-elems {
    .base {
        width: 100px;
        height: 50px;
        padding: 1em;
        text-align: center;
        background-color: chocolate;
        color: antiquewhite;
        border: 0.5ch solid rebeccapurple;
        border-radius: 1em;
    }

    .variant {
        @extend .base;
        border-color: aqua;
    }

    .other {
        @extend .variant;
        color: pink;

    }
}

@mixin custom-border($color, $size: 5px) {   //par default// 
    border: 1px solid $color;
    border-radius: 1em;
} //extend mais avec param en plus//


#mixins {
    #mix1, #mix2 {
        padding: 1rem;
        width: 100px;
    }

    #mix1 {
        background-color: aqua;
        @include custom-border(red)
    }

    #mix2 {
        background-color: forestgreen;
        @include custom-border(blue, 10px)
    }

}

$elem-colors: (aqua, red, blue, green, plum, orange);
@for $jo from 1 through 6 {
    .elems#{$jo} {
        color: nth($elem-colors, $jo);

    }
}






